.rating {
	  margin: 0;
	  padding: 0;
	  display: inline-block;
}
li {
   padding: 1px;
   color: #ddd;
   /* font-size: 20px;
   text-shadow: .05em .05em #aaa; */
   list-style-type: none;
   display: inline-block;
   cursor: pointer;
    
}
li.filled {
    color: #fd0; //#21568b
}
&.readonly li.filled {
  color: #666;
}

/* Scroll bar customization for later use  */

.scrollable-bar {
    height: auto;
    max-height: calc(100vh - 200px);
    overflow-x: hidden;
}

.scrollable-bar::-webkit-scrollbar {
   -webkit-appearance: none;
   width: 7px;        
}    

.scrollable-bar::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #8080806b;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);        
}